@font-face {
  font-family: 'BananaGrotesk-Medium';
  src: local('BananaGrotesk-Medium'),
    url('../../../Assets/Fonts/BananaGrotesk-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'BananaGrotesk-Light';
  src: local('BananaGrotesk-Light'),
    url('../../../Assets/Fonts/BananaGrotesk-Light.otf') format('opentype');
}

@font-face {
  font-family: 'BananaGrotesk-Semibold';
  src: local('BananaGrotesk-Semibold'),
    url('../../../Assets/Fonts/BananaGrotesk-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'BananaGrotesk-Bold';
  src: local('BananaGrotesk-Bold'),
    url('../../../Assets/Fonts/BananaGrotesk-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'BananaGrotesk-Regular';
  src: local('BananaGrotesk-Regular'),
    url('../../../Assets/Fonts/BananaGrotesk-Regular.otf') format('opentype');
}

p {
  margin: 0vw;
}

.activityButton {
  top: 1.38888vh;
  left: 0.78125vw;
  height: 1.8518518vh;
  width: 1.04166vw;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.activityButtonBorder {
  height: 4.4444vh;
  width: 2.5vw;
  border: 0.052083vw solid #cab5f4;
  border-radius: 50%;
  /* border-radius: 1.302083vw; */
}

.arrowFix {
  top: 1.759259vh;
  left: 1.35416vw;
  width: 0.520833vw;
  height: 1.85185vh;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  opacity: 1;
}

.default {
  top: 0vh;
  left: 0vw;
  width: 3.02083vw;
  height: 5.37037037vh;
  position: absolute;
  border: 0.052083vw solid #7b46e4;
  border-radius: 50%;
  /* border-radius: 1.5625vw; */
  opacity: 1;
}

.filled {
  top: 0vh;
  left: 0vw;
  width: 3.02083vw;
  height: 5.37037037vh;
  position: absolute;
  border: 0.052083vw solid #7b46e4;
  background-color: #7b46e4;
  border-radius: 50%;
  /* border-radius: 1.5625vw; */
  opacity: 1;
}

.disabled {
  top: 0vh;
  left: 0vw;
  width: 3.02083vw;
  height: 5.37037037vh;
  position: absolute;
  border: 0.052083vw solid #cab5f4;
  background-color: #cab5f4;
  border-radius: 50%;
  /* border-radius: 1.5625vw; */
  opacity: 1;
}

.RectangleButton {
  position: absolute;
}

.ButtonInnerText {
  margin: 0vw;
  position: absolute;
}

.RectangleDisabledBackground {
  top: 0vw;
  left: 0vw;
  position: absolute;
  /* vertical-align: middle; */
  background-color: #cab5f4;
  opacity: 1;
}

.RectangleBorderedBackground {
  top: 0vw;
  left: 0vw;
  position: absolute;
  /* vertical-align: middle; */
  border: 0.052083vw solid #7b46e4;
  opacity: 1;
}

.RectangleFilledBackground {
  top: 0vw;
  left: 0vw;
  position: absolute;
  /* vertical-align: middle; */
  background-color: #7b46e4;
  opacity: 1;
}

.RectangleDefaultBackground {
  top: 0vw;
  left: 0vw;
  position: absolute;
  /* vertical-align: middle; */
  border-width: thin;
  border: 0.052083vw solid #8f8faf;
  opacity: 1;
}

.RectangleDisabledText {
  margin: 0vw;
  position: absolute;
  text-align: center;
  /* vertical-align: middle; */
  font-family: 'BananaGrotesk-Bold';
  letter-spacing: 0.0052083vw;
  color: #ffffff;
}

.RectangleBorderedText {
  margin: 0vw;
  position: absolute;
  text-align: center;
  /* vertical-align: middle; */
  font-family: 'BananaGrotesk-Bold';
  letter-spacing: 0.005729vw;
  color: #7b46e4;
}

.RectangleFilledText {
  margin: 0vw;
  position: absolute;
  text-align: center;
  /* vertical-align: middle; */
  font-family: 'BananaGrotesk-Bold';
  letter-spacing: 0.004166vw;
  color: #ffffff;
}

.RectangleDefaultText {
  margin: 0vw;
  position: absolute;
  text-align: center;
  /* vertical-align: middle; */
  font-family: 'BananaGrotesk-Bold';
  letter-spacing: 0.00520833vw;
  color: #8f8faf;
}
